body {
    background-color: black;
    width: 100vw;
}

.titulo,
.subtitulo,
.texto {
    font-family: "Anta", sans-serif;
    color: white;
    text-align: center;
}

header {
    background-color: black;
    color: white;
}

.carousel-item {
    height: 50vh;
}

#painel li a {
    font-family: "Anta", sans-serif;
    color: white;
}

#painel li .active {
    background-color: darkslategrey;
}

#icon_ok_nome,
#icon_ok_telefone,
#icon_ok_email {
    color: green;
    display: none;
}

#nome_erro,
#email_erro {
    color: red;
    display: none;
}

.sucess {
    font-family: "Anta", sans-serif;
    color: green;
}

.error {
    font-family: "Anta", sans-serif;
    color: red;
}

#button_sucess {
    display: none;
}